.mdg{
    background-color: #3D3D3D !important;
}
.and{
    color: white !important;
    font-weight: 500;
    font-size: 17px;
}
.brand-name{
    color: white !important;
    font-weight: 800;
    font-size: 30px;

}